{% extends 'Owner/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>User Booking</h1></center>
    <form action="" method="post" id="" enctype="multipart/form-data">
        {%csrf_token %}
            <table align="center" border="1" cellpadding="10">
                <tr>
                    <td>Sl.no</td>
                    <td>Date</td>
                    <td>Name</td>
                    <td>Contact</td>
                    <td>Email</td>
                    <td>RentType</td>
                    <td>RentName</td>
                    <td>Image</td>
                    <td>Amount</td>
                    <td>From Date</td>
                    <td>To Date</td>
                    <td>Action</td>
                </tr>
                {% for i in udata %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.rent.owner.name}}</td>
                    <td>{{i.rent.owner.contact}}</td>
                    <td>{{i.rent.owner.email}}</td>
                    <td>{{i.rent.renttype.renttype_name}}</td>
                    <td>{{i.rent.name}}</td>
                    <td>{{i.rent.image}}</td>
                    <td>{{i.rent.amount}}</td>
                    <td>{{i.fromdate}}</td>
                    <td>{{i.todate}}</td>
                    <td>
                        
                        <a href="{% url 'Owner:rejectbook' i.id %}">Reject</a>
                       
                    </td>
                    
                </tr>
                {% endfor %}
            </table>
    </form>
</body>
</html>
{% endblock content %}