{% extends 'Seller/Head.html' %}
{% load static %}
{% block content %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Style the link as a button */
        .button-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: hsl(175, 73%, 51%);
            color: #fff;
            text-decoration: none;
            border: 1px solid;
            border-radius: 5px;
        }

        /* Change link styles when hovered */
        .button-link:hover {
            background-color: #06090b;
            /* border: 1px solid #c4ccd4; */
        }
    </style>
</head>
<body>
    <div id="tab">
    <form action="" method="post">
        {% csrf_token %}
    <table align="center" border="1" cellpadding="10" style="border-collapse: collapse;">
        <center><h1>Work Booking Report</h1></center>
        <center><a href="{% url 'Seller:weekly' %}" class="button-link" style="color: white;">Weekly Reports</a>
        <a href="{% url 'Seller:monthly' %}" class="button-link" style="color: white;">Monthly Reports</a>
        <a href="{% url 'Seller:yearly' %}" class="button-link" style="color: white;">Yearly Reports</a>
    </center>
        <tr>
            <td>From Date</td>
            <td><input type="date" name="fdate" id=""></td>
            <td>To Date</td>
            <td><input type="date" name="edate" id=""></td>
        </tr>
        <tr>
            <td colspan="4" align="center"><input type="submit" value="Show Result" name="result"></td>
        </tr>
    </table>
    {% if data1 %}
    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>Sl.No</th>
            <th>Product</th>
            <th>Details</th>
            <th>Rate</th>
            <th>Quantity</th>
            <th>Photo</th>
            <th>User</th>
            <th>Contact Info</th>
            <th>Email</th>
            <th>Total</th>
        </tr>

        {% for i in data1 %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.works.name}}</td>
            <td>{{i.works.details}}</td>
            <td>{{i.works.rate}}</td>
            <td>{{i.qty}}</td>
            <td><img src="{{i.works.image.url}}" alt="" width="150" height="150"></td>
            <td>{{i.booking.user.name}}</td>
            <td>{{i.booking.user.contact}}</td>
            <td>{{i.booking.user.email}}</td>
            <td class="text-right">{{ i.qty|mul:i.works.rate }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="10" align="right">Grand Total:{{total}}</td>
        </tr>
    </table>
   
    {% endif %}
    </form> 
    </div>
</body>
</html>
{% endblock content %}