<table class="table table-bordered" style="border-collapse: collapse" id="result">
    <tr>
        {% for i,j in rent %}
        <td>
            <div class="text-center border" style="margin:22px;padding:20px">
                <p><img src="{{i.image.url}}" width="100px" height="100px" /></p>
                <br>
                <p>{{i.name}}</p>
                <br>
                <p>{{i.amount}}</p>
                <br>
                <p>{{i.details}}</p>
                <br>
                <p>{% for k in ar %} {% if k <= j %}
                    <i class="fas fa-star text-warning"></i>
                    {% else %}
                    <i class="fas fa-star star-light"></i>
                    {% endif %} {% endfor %}</p>
                <p><a href="{% url 'User:UserRequest' i.id %}" class="btn btn-primary">Book</a></p>
            </div>  
        </td>
        {% if forloop.counter|divisibleby:4 %}
    </tr>
    <tr>
        {% endif %}
        {% endfor %}
</table>