{% extends 'User/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>My Booking</h1></center>
    <form action="" method="post" id="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container mt-4">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Sl.no</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>RentType</th>
                        <th>RentName</th>
                        <th>Image</th>
                        <th>Amount</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in udata %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.date }}</td>
                            <td>{{ i.rent.owner.name }}</td>
                            <td>{{ i.rent.owner.contact }}</td>
                            <td>{{ i.rent.owner.email }}</td>
                            <td>{{ i.rent.renttype.renttype_name }}</td>
                            <td>{{ i.rent.name }}</td>
                            <td>{{ i.rent.image }}</td>
                            <td>{{ i.rent.amount }}</td>
                            <td>{{ i.fromdate }}</td>
                            <td>{{ i.todate }}</td>
                            <td>
                                {% if i.status == "1" %}
                                    <p>Accepted | <a href="{% url 'User:AdvancePayment' i.rent.id %}">Advance Payment</a> | <a href="{% url 'User:shoprating' i.rent.id %}">Rate Now</a></p>
                                {% elif i.status == "2" %}
                                    <p>Rejected</p>
                                {% else %}
                                    <p>Pending</p> 
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>
{% endblock content %}