{% extends 'User/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>My Profile</h1>
        <br><br><br>
        <form action="" method="post">
            {% csrf_token %}
            <div class="container mt-4">
                <table class="table table-bordered">
                    <tr>
                        <td colspan="2" class="text-center">
                            <img src="{{ uregdata.photo.url }}" alt="{{ uregdata.photo.url }}" width="150" height="150">
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ uregdata.name }}</td>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td>{{ uregdata.contact }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ uregdata.email }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{ uregdata.address }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <a href="{% url 'User:EditProfile' %}" class="btn btn-primary">Edit Profile</a>
                            <a href="{% url 'User:ChangePassword' %}" class="btn btn-primary">Change Password</a>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
</center>
</body>
</html>
{% endblock content %}