{% extends 'User/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Feedback</h1></center>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="container mt-4">
            <table class="table table-bordered">
                <tr>
                    <td>Your Feedback</td>
                    <td><input type="text" class="form-control" name="txt_name" id=""></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <button type="submit" class="btn btn-primary" name="submit">Send</button>
                        <button type="submit" class="btn btn-secondary" name="cancel">Cancel</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
{% endblock content %}
