{% extends 'User/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" id="viewrents" enctype="multipart/form-data" data-district-url="{% url 'Admin:ajaxdistrict' %}" data-state-url="{% url 'Admin:ajaxstate' %}" data-place-url="{% url 'Guest:ajaxplace' %}" data-rent-url="{% url 'User:ajaxrent' %}">
        {% csrf_token %}
        <div class="container mt-4">
            <table class="table table-bordered">
                <tr>
                    <td>Country</td>
                    <td>
                        <select class="form-control" name="select_cou" id="select_cou">
                            <option value="">--select--</option>
                            {% for i in coudata %}
                                <option value="{{ i.id}}">{{ i.country_name }}</option> 
                            {% endfor %}
                        </select>
                    </td>
               
                    <td>State</td>
                    <td>
                        <select class="form-control" name="select_sta" id="select_sta">
                            <option value="">--select--</option>
                        </select>
                    </td>
               
                    <td>District</td>
                    <td>
                        <select class="form-control" name="select_dis" id="select_dis">
                            <option value="">--select--</option>
                        </select>
                    </td>
               
                    <td>Place</td>
                    <td>
                        <select class="form-control" name="select_pla" id="select_pla">
                            <option value="">--select--</option>
                        </select>
                    </td>
                    
                    <td>Rent Type</td>
                    <td>
                        <select class="form-control" name="select_rent" id="select_rent">
                            <option value="">--select--</option>
                            {% for i in renttype %}
                                <option value="{{i.id}}">{{ i.renttype_name}}</option> 
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    
    <br>
    <br>
    
    <div class="container mt-4">
        <table class="table table-bordered" style="border-collapse: collapse" id="result">
            <tr>
                {% for i in rent %}
                <td>
                    <div class="text-center border" style="margin:22px;padding:20px">
                        <p><img src="{{i.image.url}}" width="100px" height="100px" /></p>
                        <br>
                        <p>{{i.name}}</p>
                        <br>
                        <p>{{i.amount}}</p>
                        <br>
                        <p>{{i.details}}</p>
                        <br>
                        <p><a href="{% url 'User:UserRequest' i.id %}" class="btn btn-primary">Book</a></p>
                    </div>  
                </td>
                {% if forloop.counter|divisibleby:4 %}
            </tr>
            <tr>
                {% endif %}
                {% endfor %}
        </table>
    </div>
    
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#select_cou").change(function () {
        var cid = $(this).val();
        var rid= $("#select_rent").val();
        var did=$("#select_dis").val();    
        var sid=$("#select_sta").val();
        var pid=$("#select_pla").val();
        var ur = $("#viewrents").attr("data-state-url");
        $.ajax({
            url: ur,
            data: { country: cid, },
            success: function (data) {
                $("#select_sta").html(data);
                var ur = $("#viewrents").attr("data-rent-url");
        $.ajax({
            url: ur,
            data: { rid:rid,pid:pid,did:did,sid:sid,cid:cid },
            success: function (data) {
                $("#result").html(data);
            },
        });
            },
        });
    });
</script>
<script>
    $("#select_sta").change(function () {
        var sid = $(this).val();
        var rid= $("#select_rent").val();
        var did=$("#select_dis").val();    
        var pid=$("#select_pla").val();
        var cid=$("#select_cou").val();
        var ur = $("#viewrents").attr("data-district-url");
        $.ajax({
            url: ur,
            data: { state: sid, },
            success: function (data) {
                $("#select_dis").html(data);
                var ur = $("#viewrents").attr("data-rent-url");
        $.ajax({
            url: ur,
            data: { rid:rid,pid:pid,did:did,sid:sid,cid:cid },
            success: function (data) {
                $("#result").html(data);
            },
        });
            },
        });
    });
</script>
<script>
    $("#select_dis").change(function () {
        var did = $(this).val();
        var rid= $("#select_rent").val();
        var pid=$("#select_pla").val();    
        var sid=$("#select_sta").val();
        var cid=$("#select_cou").val();
        var ur = $("#viewrents").attr("data-place-url");
        $.ajax({
            url: ur,
            data: { district: did, },
            success: function (data) {
                $("#select_pla").html(data);
                var ur = $("#viewrents").attr("data-rent-url");
        $.ajax({
            url: ur,
            data: { rid:rid,pid:pid,did:did,sid:sid,cid:cid },
            success: function (data) {
                $("#result").html(data);
            },
        });
            },
        });
    });


    $("#select_pla").change(function () {
        var pid = $(this).val();
       
        var rid= $("#select_rent").val();
        var did=$("#select_dis").val();    
        var sid=$("#select_sta").val();
        var cid=$("#select_cou").val();

        var ur = $("#viewrents").attr("data-rent-url");
        $.ajax({
            url: ur,
            data: { rid:rid,pid:pid,did:did,sid:sid,cid:cid },
            success: function (data) {
                $("#result").html(data);
            },
        });
    });



//For Rent Type
    $("#select_rent").change(function () {
        var rid = $(this).val();
       
        var pid= $("#select_pla").val();
        var did=$("#select_dis").val();    
        var sid=$("#select_sta").val();
        var cid=$("#select_cou").val();

        var ur = $("#viewrents").attr("data-rent-url");
        $.ajax({
            url: ur,
            data: { rid:rid,pid:pid,did:did,sid:sid,cid:cid },
            success: function (data) {
                $("#result").html(data);
            },
        });
    });
//End
</script>
{% endblock content %}