{% extends 'Officer/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <center><h1>Edit Prpfile</h1></center>
    <div class="container mt-5">
        <form method="post" action="">
            {% csrf_token %}
            <table class="table table-bordered" align="center">
                <tr>
                    <td>Name</td>
                    <td><input type="text" class="form-control" name="txt_name" value="{{oregdata.name}}"></td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td><input type="text" class="form-control" name="txt_con" value="{{oregdata.contact}}"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" class="form-control" name="txt_email" value="{{oregdata.email}}"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><textarea class="form-control" name="txt_address" cols="30" rows="10">{{oregdata.address}}</textarea></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" class="btn btn-primary" name="btn_submit" value="Update">
                        <input type="reset" class="btn btn-secondary" name="btn_cancel" value="Cancel">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% endblock content %}