{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Ready Bootstrap Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="{% static 'Admin/assets/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="{% static 'Admin/assets/css/ready.css'%}">
	<link rel="stylesheet" href="{% static 'Admin/assets/css/demo.css'%}">
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="index.html" class="logo">
					Ready Dashboard
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					
					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						
					
						</ul>
					</div>
				</nav>
			</div>
			<div class="sidebar">
				<div class="scrollbar-inner sidebar-wrapper">
					<div class="user">
						<div class="photo">
							<img src="{% static 'Admin/assets/img/profile.jpg'%}">
						</div>
						<div class="info">
							<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									Hizrian
									<span class="user-level">Administrator</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample" aria-expanded="true">
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">My Profile</span>
										</a>
									</li>
									<li>
										<a href="#edit">
											<span class="link-collapse">Edit Profile</span>
										</a>
									</li>
									<li>
										<a href="#settings">
											<span class="link-collapse">Settings</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav">
						
						<li class="nav-item">
							<a href="{% url 'Officer:MyProfile' %}">
								<i class="la la-table"></i>
								<p>My Profile</p>
								
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'Officer:Editprofile' %}">
								<i class="la la-table"></i>
								<p>Edit Profile</p>
								
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'Officer:ChangePassword' %}">
								<i class="la la-table"></i>
								<p>Change Password</p>
								
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'Officer:ViewRent' %}">
								<i class="la la-table"></i>
								<p>View Rent</p>
								
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'Officer:acceptedrent' %}">
								<i class="la la-table"></i>
								<p>Accepted Rent</p>
								
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'Officer:rejectedrent' %}">
								<i class="la la-table"></i>
								<p>Rejected Rent</p>
								
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'Officer:ViewOwnerList' %}">
								<i class="la la-table"></i>
								<p>View Owner List</p>
								
							</a>
						</li>

						<li class="nav-item">
							<a href="{% url 'Officer:AcceptedOwnerList' %}">
								<i class="la la-table"></i>
								<p>Accepted Owner List</p>
								
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'Officer:RejectedOwnerList' %}">
								<i class="la la-table"></i>
								<p>Rejected Owner List</p>
								
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'Officer:logout' %}">
								<i class="la la-table"></i>
								<p>LogOut</p>	
								
							</a>
						</li>
						
					</ul>
				</div>
			</div>
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
            {% block content %}

            {% endblock content %}
		</div>
	</div>
</div>
</div>
            <script src="{% static 'Admin/assets/js/core/jquery.3.2.1.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/core/popper.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/core/bootstrap.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/chartist/chartist.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/jquery-mapael/jquery.mapael.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/jquery-mapael/maps/world_countries.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/chart-circle/circles.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/ready.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/demo.js'%}"></script>