{% extends 'Officer/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
    <center><h1>MyProfile</h1></center>
    <div class="container mt-5">
        <form action="" method="post">
            {% csrf_token %}
            <table class="table table-bordered" align="center">
                <tr>
                    <td colspan="2">
                        <img src="{{oregdata.photo.url}}" alt="{{oregdata.photo.url}}" class="img-fluid rounded" width="150" height="150">
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{oregdata.name}}</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>{{oregdata.contact}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{oregdata.email}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{oregdata.address}}</td>
                </tr>
            </table>
        </form>
    </div>
    
</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% endblock content %}