{% extends 'Officer/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <center><h1>ViewComplaint</h1></center>
        <div class="container mt-5">
            <form action="" method="post" id="" enctype="multipart/form-data">
                {% csrf_token %}
                <center><p>Owner Complaints</p></center>
                <table class="table table-bordered table-striped" align="center">
                    <thead>
                        <tr>
                            <th>Sl.no</th>
                            <th>Complaint Type</th>
                            <th>Complaint Title</th>
                            <th>Content</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in owndata %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.complainttype.complaint_name}}</td>
                                <td>{{i.complainttitle}}</td>
                                <td>{{i.content}}</td>
                                <td><a href="{% url 'Officer:reply' i.id %}">Reply</a></td>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <center><p>User Complaints</p></center>
                <table class="table table-bordered table-striped" align="center">
                    <thead>
                        <tr>
                            <th>Sl.no</th>
                            <th>Complaint Type</th>
                            <th>Complaint Title</th>
                            <th>Content</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in userdata %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.complainttype.complaint_name}}</td>
                                <td>{{i.complainttitle}}</td>
                                <td>{{i.content}}</td>
                                <td><a href="{% url 'Officer:ureply' i.id %}">Reply</a></td>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
</body>
</html>
{% endblock content %}
            