{% extends 'Officer/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>View Feedback</h1></center>
    <form action="" method="post" id="" enctype="multipart/form-data">
        {%csrf_token %}
        <div class="container mt-5">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Sl.no</th>
                        <th>Feed Back</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in udata %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.feedback}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </body>
        </html>
{% endblock content %}

