{%  extends 'Admin/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Complaint Type</h1></center>
    <br><br><br><br>
    <form action="" method="post">
        {% csrf_token %}
        <table  align="center" border="1" cellpadding="10">
            <tr>
                <td>ComplaintType</td>
                <td><input type="text" name="txt_complaint" id=""  value="{{edis.complaint_name}}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn_save" id="">
                <input type="reset" name="btn_cancel" id=""></td>
            </tr>
        </table>
    </form>
    <br><br>
    <table align="center" border="1" cellpadding="10">
        <tr>
            <td>Sl.no</td>
            <td>ComplaintType</td>
            <td>Action</td>
        </tr>
        <tr>
            {% for i in complaint %}
<td>{{forloop.counter}}</td>
<td>{{i.complaint_name}}</td>
<td><a href="{% url 'Admin:del_complaint' i.id %}">Delete</a>
    
        
            </tr>
            {% endfor %}            
    </table>
</body>
</html>
{% endblock content %}